* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    padding: 20px;
}

.block-container {

    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
}

.block-item {
    width: auto;
    height: auto;
    border: 1px solid black;
} /* Без размера */

.padd {
    background-color: black;
}

.main {
    display: block;
    text-align: center;
    margin: 50px;
}

.input-grid {
    border-radius: 5px;
}

.buttons {
    margin: 10px;
}

.sumbit,
.reset {
    margin: 10px;
}